.reset__btn {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #17153b;
  color: #fff;
}

.game__title {
  text-align: center;
  margin-top: 5rem;
}

.results {
  font-size: 1.5rem;
}

.person__selection,
.computer__selection {
  margin-top: 1.5rem;
  font-size: 2rem;
}

/* scores section */
.scores {
  display: flex;
  gap: 5rem;
  text-align: center;
}

.hero {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scores__person-text,
.scores__computer-text,
.person__score,
.computer__score {
  font-size: 2rem;
}

.container {
  width: 70%;
  /* border: 5px solid #2e236c; */
  margin-inline: auto;
  border-radius: 10px;
}

.hero__container {
  display: flex;
  gap: 2rem;
}

.hero__btn,
.reset__button {
  background-color: #5682b1;
  padding: 0.5rem 1.4rem;
  color: #fff;
  margin-top: 4rem;
  border-radius: 1000000000px;
}
.hero__container {
  margin-top: 2rem;
}

.results__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

/* utilities */
.btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
}
